################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/duoduo-project/9258Suite/.vs
*.suo
*.user
_ReSharper.*
bin
obj

